body {
  font-family: Roboto, sans-serif;
  columns: $color-primary;
}
.container {
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
}

.section {
  padding: 60px 0;

  &__title {
    font-size: 48px;
    line-height: 1.21;
  }

  &__subtitle {
    font-size: 28px;
    line-height: 1.29;
  }

  &__text {
    font-size: 21px;
    line-height: 1.43;
    color: $color-text-tertiary;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

hr {
  width: 100%;
  height: 5px;
  background-color: #000;
}

.ul-nolist {
  text-decoration: none;
  list-style: none;
}
