.block-form {
  // outline: 1px solid tomato;
  background-color: $color-background-secondary;

  &__request {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 60px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__line {
    border: 1px solid $horizontal-line;
    width: 100%;
    margin-bottom: 55px;
  }

  &__subtitle {
    margin-bottom: 10px;

    font-size: 28px;
    line-height: calc(36 / 28);
  }

  &__text-two {
    margin-bottom: 10px;
  }
}

.container-form {
  // outline: 1px solid rgb(114, 255, 71);
  display: flex;
}

.registration-form {
  background-color: $color-secondary;
  border: 1px solid $color-border;
  border-radius: 16px;
  padding: 85px 61px;

  &__blank {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }

  &__item {
    padding: 0;
    margin: 0;
    flex-basis: calc((100% - 32px) / 2);
  }

  &__title {
    display: block;
    font-size: 18px;
    line-height: calc(30 / 18);
    margin-bottom: 12px;
  }

  &__input {
    background: $color-secondary;
    border: 1px solid #eff0f6;
    border-radius: 16px;
    width: 100%;
    max-width: 259px;

    font-size: 18px;
    line-height: calc(30 / 18);
    padding: 10px;

    &--size {
      max-width: none;
      resize: none;
    }
  }
}

// button -------------------
.button--blue {
  background-color: $color-tertiary;
  color: $color-secondary;
  font-size: 18px;
  line-height: calc(20 / 18);
}

.button--white {
  background-color: $color-secondary;
  color: $color-background-tertiary;
  font-size: 18px;
  line-height: calc(20 / 18);

  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
}

.button--mt {
  margin-top: 32px;
}

// call-thumb-------------
.call-thumb {
  display: flex;
  align-items: center;

  &__icon {
    width: 72px;
    height: 72px;
    filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
    margin-right: 16px;
  }
  &__list {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12px;

    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $color-secondary;
    margin-bottom: 14px;

    &--color {
      color: $color-text-tertiary;
    }
  }
  &__phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.28;
    color: $color-secondary;

    &--color {
      color: $color-background-tertiary;
    }
  }

  &--mb {
    margin-bottom: 51px;
  }
}
