.block_video {
    // margin-bottom: 481px;
    &__title {
        text-align: center;
        margin-bottom: 13px;
    }

    &__text {
        text-align: center;
        margin-bottom: 32px;
    }

    &__list {
            display: flex;
            justify-content: center;
            gap: 86px;
        }
&__item {
    display: flex;
    align-items: center;
    gap: 16px;
}
        &__subtitle {
            margin-bottom: 5px;
            font-size: 16px;
            list-style: 1.3;
            text-transform: uppercase;
            color: $color-text-tertiary;
        }

        &__quantity {
            font-weight: 700;
                font-size: 28px;
                line-height: 1.29;
                color: $color-primary;
        }

        &__bg {
            max-width: 1012px;
            max-height: 570px;
        }
}
