.button {
	// width: 174px;
	// height: 54px;
	min-width: 204px;
	padding: 17px 24px;
	border-radius: 14px;
	border: 1px solid none;
	cursor: pointer;
	@extend %cubic;

}
.button:hover,
.button:focus{
	background-color: blue;
}