.header {
	font-family:'Roboto';
	font-size: 18px;

	&__container {
		width: 100%;
		max-width: 1280px;
		border: solid 1px red;
		display: flex;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		
	padding: 38px 110px 38px 110px;
	}
	&__cart{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-left: auto;
		gap: 24px;

		&_current {
			color: white;
			cursor: pointer;
		}

		&_current:hover,
		&_current:focus {
			color: white;
		}
	}

			&_current {
			color: white;

		}

		&_current:hover,
		&_current:focus {
			color: white;
		}
}
.nav {

	&__menu {
		display: flex;
		justify-content: flex-start;
		padding-left: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	&__item {

		margin-left: 20px;
	}
	&__item:first-child{
		margin-left: 0;
	}

	&__link {
		
		text-decoration: none;
		color: black;
		margin-top: 10px;
		margin-bottom: 10px;



	&__link:hover,
	&__link:focus {
		color: black;
}
}
}
/* .contacts {

	&__item {
	}

	&__link {
	}

	&__icon {
	}
}
 */