.our_service {

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__title {
        display: block;
        max-width: 475px;
    }

    &__link {
        padding: 26px 39px;
        font-size: 18px;
        line-height: 1.11;
        color: inherit;
        border: 1px solid $color-border;
        box-shadow: 0px 4px 10px $color-shadow;
        border-radius: 14px;
    }

    &__list {
        display: flex;
        gap: 28px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 49px 38px 29px;
        max-width: 388px;
        text-align: center;
        border: 1px solid $color-border;
        box-shadow: 0px 2px 6px $color-shadow;
        border-radius: 16px;
    }

    &__image {
        margin-bottom: 24px;
    }

    &__subtitle {
        margin-bottom: 13px;
    }
}