/* roboto-regular - latin_cyrillic */
@import '~node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/swiper/swiper-bundle.css';
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
.call-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.covid__button, .call-thumb-button, .button {
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 38px;
  line-height: 36px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .nice-select-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .nice-select-dropdown {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .nice-select-dropdown {
  margin-top: 4px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(19px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  opacity: 0;
}
.nice-select .list {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 210px;
  overflow-y: auto;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.nice-select .optgroup {
  font-weight: bold;
}

.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none;
}
.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block;
}

.nice-select .list::-webkit-scrollbar {
  width: 0;
}

.nice-select .has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 36px;
  line-height: 22px;
}
.nice-select .has-multiple span.current {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.nice-select .has-multiple .multiple-options {
  display: block;
  line-height: 24px;
  padding: 0;
}
.nice-select .nice-select-search-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}
.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
  font-size: 14px;
}

body {
  font-family: Roboto, sans-serif;
  color: #211F54;
}

.container {
  padding: 0 100px;
  margin: 0 auto;
}

.section {
  max-width: 1280px;
  padding: 60px 0;
}
.section__title {
  font-size: 48px;
  line-height: 1.21;
}
.section__subtitle {
  font-size: 28px;
  line-height: 1.29;
}
.section__text {
  font-size: 21px;
  line-height: 1.43;
  color: #6E7191;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding: 0;
}

hr {
  width: 100%;
  height: 5px;
  background-color: #000;
}

.ul-nolist {
  text-decoration: none;
  list-style: none;
}

.call-thumb {
  display: flex;
  align-items: center;
}
.call-thumb__icon {
  width: 72px;
  height: 72px;
  filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
  margin-right: 16px;
}
.call-thumb__list {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.call-thumb__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.call-thumb__phone {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.28;
}

.text-black {
  color: #000;
}

.white-text {
  color: #fff;
}

.button {
  min-width: 204px;
  padding: 17px 24px;
  border-radius: 14px;
  border: 1px solid none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: blue;
}

.header {
  font-family: "Roboto";
  font-size: 18px;
}
.header__container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 38px 110px 38px 110px;
}
.header__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}
.header__cart_current {
  color: white;
  cursor: pointer;
}
.header__cart_current:hover, .header__cart_current:focus {
  color: white;
}
.header_current {
  color: white;
}
.header_current:hover, .header_current:focus {
  color: white;
}

.nav__menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav__item {
  margin-left: 20px;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  text-decoration: none;
  color: #211F54;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav__link:hover, .nav__link:focus {
  color: #0075FF;
}

.button {
  min-width: 204px;
  padding: 17px 24px;
  border-radius: 14px;
  border: 1px solid #0075FF;
  cursor: pointer;
}

.blue {
  background-color: #0075FF;
  color: #fff;
}

/* .contacts {

	&__item {
	}

	&__link {
	}

	&__icon {
	}
}
 */
.hero {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.hero__container {
  max-width: 1280px;
  width: 100%;
  padding: 38px 110px 38px 110px;
}
.hero__list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.hero__item-bg {
  display: block;
  max-width: 520px;
  width: 100%;
  overflow-x: hidden;
}
.hero__item {
  max-width: 590px;
  width: 100%;
}
.hero__title {
  width: 100%;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.089;
}

.call-us {
  gap: 15px;
  flex-direction: column;
  padding-top: 20px;
}

.call-thumb-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  min-width: 217px;
  padding: 22px 34px;
  border-radius: 14px;
  border: 1px solid none;
  cursor: pointer;
}

.block_video__title {
  text-align: center;
  margin-bottom: 13px;
}
.block_video__text {
  text-align: center;
  margin-bottom: 32px;
}
.block_video__list {
  display: flex;
  justify-content: center;
  gap: 86px;
  margin-bottom: 40px;
}
.block_video__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.block_video__subtitle {
  margin-bottom: 5px;
  font-size: 16px;
  list-style: 1.3;
  text-transform: uppercase;
  color: #6E7191;
}
.block_video__quantity {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: #211F54;
}
.block_video__bg {
  max-width: 1012px;
  max-height: 570px;
}

.our_service__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.our_service__title {
  display: block;
  max-width: 475px;
}
.our_service__link {
  padding: 26px 39px;
  font-size: 18px;
  line-height: 1.11;
  color: inherit;
  border: 1px solid #EFF0F6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
}
.our_service__list {
  display: flex;
  gap: 28px;
}
.our_service__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 49px 38px 29px;
  max-width: 388px;
  text-align: center;
  border: 1px solid #EFF0F6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}
.our_service__image {
  margin-bottom: 24px;
}
.our_service__subtitle {
  margin-bottom: 13px;
}

.covid {
  max-width: 1280px;
  margin: 0 auto;
}
.covid__container {
  padding: 138px 74px 138px 0;
  border-radius: 24px;
  background-color: #211F54;
  background-image: url(../../src/images/covid.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.covid__list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 12px;
}
.covid__item {
  max-width: 474px;
}
.covid__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 18px;
}
.covid__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 17px;
}
.covid__txt {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.42;
  color: #fff;
}
.covid__button {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  width: 217px;
  height: 72px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #0075FF;
  padding: 26px 38px;
  margin-right: 28px;
}
.covid__button:hover, .covid__button:focus {
  background-color: blue;
}

.call-thumb {
  display: flex;
  align-items: center;
}
.call-thumb__icon {
  width: 72px;
  height: 72px;
  filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
  margin-right: 16px;
}
.call-thumb__list {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.call-thumb__text {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.call-thumb__phone {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.28;
}

.quote-and-call {
  display: flex;
}

.covid-thumb {
  max-width: 556px;
  margin-left: auto;
}/*# sourceMappingURL=index.css.map */