
    $color-primary: #211F54;
    $color-secondary: #fff;
	 $color-tertiary: #0075FF;
    
    $color-text-primary: #000;//основний текст
    $color-text-secondary: #fff;//текст на синії кнопці
    $color-text-tertiary: #6E7191;//колір більшості малого текста
    $color-text-copyright: #0075FF; //текст копірайту в футері та номер телефону
	 $horizontal-line: #DCDDEB;  //Лінія розділення між секціями


    $color-text-subtitle: #B4B4B4; 

	 $button-blue: #0075FF; //кнопка синя

    $color-background-primary: #FFf; //основний бекграунд
    $color-background-secondary: #F7F9FC; //бекграунд сірий під секцію
    $color-background-tertiary: #211F54; //бекграунд єдиного темного блоку в секції

	$color-border: #EFF0F6;
    $color-shadow: rgba(20, 20, 43, 0.04);
    
    $action-duration: 250ms;
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
