<div class="section block-form">
  <div class="container container-form">
    <div class="block-form__request">
      <h2 class="section__title block-form__title">
        Request a free cleaning quote today
      </h2>
      <p class="section__text block-form__text">
        In dignissim euismod pretium amet enim a eu nam ut urna accumsan
        pellentesque lacus duis pharetra eutortor.
      </p>
      <div class="call-thumb call-thumb--mb">
        <svg class="call-thumb__icon">
          <use href="/src/images/icons.svg#icon-call"></use>
          <ul class="call-thumb__list">
            <li class="call-thumb__text call-thumb__text--color">
              Call us now
            </li>
            <li class="call-thumb__phone call-thumb__phone--color">
              (414) 567 - 2109
            </li>
          </ul>
        </svg>
      </div>

      <div class="block-form__line"></div>

      <h3 class="section____subtitle block-form__subtitle">
        Not convinced yet?
      </h3>
      <p class="section__text block-form__text-two">
        Massa bibendum consectetur maurisid gravida purus, dolor dui amet morbi
        non nunc urna purus diam.
      </p>
      <button type="button" class="button button--white">
        Browse our packages
      </button>
    </div>

    <form class="registration-form" name="registration_form">
      <ul class="registration-form__blank list">
        <li class="registration-form__item">
          <div>
            <label class="registration-form__title" for="name">Full name</label>
            <input
              class="registration-form__input"
              type="text"
              name="username"
              id="name"
              required
            />
          </div>
        </li>
        <li class="registration-form__item">
          <label class="registration-form__title" for="phone"
            >Phone number</label
          >
          <input
            class="registration-form__input"
            type="tel"
            name="phone-number"
            id="phone"
            required
          />
        </li>
        <li class="registration-form__item">
          <label class="registration-form__title" for="address">Address</label>
          <input
            class="registration-form__input"
            type="text"
            name="address"
            id="address"
            required
          />
        </li>
        <li class="registration-form__item">
          <label class="registration-form__title" for="email">Email</label>
          <input
            class="registration-form__input"
            type="email"
            name="email"
            id="email"
            required
          />
        </li>
        <li class="registration-form__item">
          <label class="registration-form__title" for="requested=service"
            >Requested service</label
          >
          <input
            class="registration-form__input"
            type="text"
            name="requested=service"
            id="requested=service"
            required
          />
        </li>
        <li class="registration-form__item">
          <label class="registration-form__title" for="day-of-service"
            >Day of service</label
          >
          <input
            class="registration-form__input"
            type="text"
            name="day-of-service"
            id="day-of-service"
            required
          />
        </li>
      </ul>

      <label class="registration-form__title" for="add-a-note"
        >Add a note</label
      >
      <textarea
        class="registration-form__input registration-form__input--size"
        type="text"
        name="add-a-note"
        id="add-a-note"
        rows="4"
      ></textarea>
      <button type="button" class="button button--blue button--mt">
        Submit message
      </button>
    </form>
  </div>
</div>
