<div class="section block_video">
    <div class="container">
        <h2 class="section__title block_video__title">Our cleaning services have no comparison</h2>
        <p class="section__text block_video__text">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus vitae cras
            viverra gravida sapien.</p>
        <ul class="list block_video__list">
            <li class="block_video__item">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="block_video__box">
                    <h3 class="block_video__subtitle">clients</h3>
                    <p class="block_video__quantity">3,480+</p>
                    </div> 
            </li>
            <li class="block_video__item">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-done"></use>
                    </svg>
                    <div class="block_video__box">
                        <h3 class="block_video__subtitle">jobs done</h3>
                        <p class="block_video__quantity">12,540+</p>
                    </div>   
            </li>
            <li class="block_video__item">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-employees"></use>
                    </svg>
                    <div class="block_video__box">
                        <h3 class="block_video__subtitle">employees</h3>
                        <p class="block_video__quantity">100+</p>
                    </div>
            </li>
        </ul>
        <div class="block_video__bg">
        </div>
    </div>
</div>