<div class="section">
    <div class="container">
        <h2 class="section__title block_video__title">Our cleaning services have no comparison</h2>
        <p class="section__text block_video__text">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus vitae cras
            viverra gravida sapien.</p>
        <ul class="list block_video__list">
            <li>
                <a href="" class="link">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-heart"></use>
                    </svg>
                    <h3>clients</h3>
                    <p>3,480+</p>
                </a>
            </li>
            <li>
                <a href="" class="link">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-done"></use>
                    </svg>
                    <h3>clients</h3>
                    <p>3,480+</p>
                </a>
            </li>
            <li>
                <a href="" class="link">
                    <svg width="71" height="71">
                        <use href="./images/icons.svg#icon-employees"></use>
                    </svg>
                    <h3>employees</h3>
                    <p>100+</p>
                </a>
            </li>
        </ul>

    </div>
</div>