<div class="covid">
	<div class="covid__container container">
<div class="covid-thumb">
    	  <ul class="covid__list ul-nolist">
		 <li class="covid__item"><h3 class="covid__subtitle">Covid-19 sanitization</h3></li>
		 <li class="covid__item"><h1 class="covid__title">We follow guidelines to keep you safe from the COVID-19 virus</h1> </li>
	 <li class="covid__item"> <p class="covid__txt">Lobortis mattis odio leo eget mauris met aliquet semper molestie sollicitudin congue massa mauris lectus.</p></li>
        </ul>
        <div class="quote-and-call">
            <button type="button" class="covid__button">Get a free quote</button>
        <div class="call-thumb">
          <svg class="call-thumb__icon">
            <use href="/src/images/icons.svg#icon-call"></use>
            <ul class="call-thumb__list" >
                <li class="call-thumb__text">Call us now</li>
                <li class="call-thumb__phone">(414) 567 - 2109</li>
            </ul>
          </svg>  
        </div>
        </div>
</div>
	</div>
 </div>
 