<header class="header">
  <div class="header__container container">
    <a href="./index.html"><img src="./images/logo.svg" width="178px" height="42px"></a>
    <nav class="nav">
      <ul class="nav__menu ul-nolist">
        <li class="nav__item">
          <a class="nav__link nav__link_current" href="./index.html">Home</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Services</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Pages</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
      </ul>
    </nav>
    <ul class="header__cart ul-nolist">
		<li class="header__cart">Cart()</li>
		<li class="header__cart blue-button"><a class="header__cart_current href="#" type="button">
			Get a Free Quote
		</a></li>
	 </ul>
  </div>
</header>
