<section class="hero">
	<div class="hero__container container">
	  <ul class="hero__list ul-nolist">
		<li class="hero__item"><h1 class="hero__title">Quality cleaning for your home</h1>
			<p class="p-text">Condimentum mauris sit cursus amet id non neque pharetra nulla ornare sed facilisis senectus dapibus nibh ultrices eget suscipit aliquet et nulla magna lacus penatibus.</p>
			<ul class="call-us ul-nolist">
				<li><div class="call-thumb">
					<svg class="call-thumb__icon">
					  <use href="/src/images/icons.svg#icon-call" width:70px></use>
					  <ul class="call-thumb__list" >
							<li class="call-thumb__text text-black">Call us now</li>
							<li class="call-thumb__phone text-black">(414) 567 - 2109</li>
					  </ul>
					</svg>  
				 </div>
				</li>
				<li><button class="blue button call-thumb-button" type="button">Get a Free Quote</button></li>
			</ul>
		</li>
		<li class="hero__item-bg"><img src="./images/header-image.svg" alt=""> </li>
	  </ul>
	</div>
</section>
 