<div class="section our_service">
    <div class="container">
        <div class="our_service__head">
            <h2 class="section__title our_service__title">Take a look at our professional services</h2>
            <a href="" class="link our_service__link">Explore services</a>
        </div>
        <ul class="list our_service__list">
            <li class="our_service__item">
                <img src="./images/house.png" alt="house" width="220" height="190" class="our_service__image">
                <h3 class="section__subtitle our_service__subtitle">House cleaning</h3>
                <p class="section__text">Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est.</p>
            </li>
            <li class="our_service__item">
                <img src="./images/office.png" alt="office" width="220" height="224" class="our_service__image">
                <h3 class="section__subtitle our_service__subtitle">Office cleaning</h3>
                <p class="section__text">Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis
                    volutpat est.</p>
            </li>
            <li class="our_service__item">
                <img src="./images/industrial.png" alt="industrial" width="250" height="200" class="our_service__image">
                <h3 class="section__subtitle our_service__subtitle">Office cleaning</h3>
                <p class="section__text">Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis
                    volutpat est.</p>
            </li>
        </ul>
    </div>
</div>